body{
	background: $paleyellow;
	color: rgba($darkblue, .9);
}
#{headings()}{
	font-family:georgia;
	font-weight: normal;
	color: $darkgray;
	@include text-shadow($paleryellow 1px 1px)
}
a{ 
	@include clearfix;
	color: $orange;
	text-decoration:none;
	&:hover{
	color:red;
	}
}//a
2 