//palette from kuler
$dark-teal:#46635E;
$light-teal: #E5FCF8;
$teal: #8BB4AF;
$red:#9E1130 ;
$darkred: #3B0612;
$notblack: #1e1e1e;

//variables for transition mixin
$transition-property: all;
$transition-time: .5s;
$method: ease;